html{width:100%;height:100%}body{width:100%;height:100%;margin:0;display:flex}#svelte{flex:1;display:flex;flex-direction:column}main.svelte-1yi3he8{flex:1;display:flex;flex-direction:column;margin:0}
